<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="css/ripples.min.css">
</head>
<body>
  <div class="container">
  	<div class="text-right">
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
  		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
  	</div>
  </div>

  <div class="row search">
    <div class="form-group has-feedback col-md-8">
      <div class="col-md-offset-4">
        <input type="text" class="form-control input-lg" id="query" id="inputLarge" placeholder="Song, Artist, etc." onkeypress="handle(event)"/>
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
      </div>
    </div>
  </div>

  <!-- YouTube search results -->
  <div class="container">
    <div class="row" id="youtube">
      <h2>YouTube Results</h2>
      <div id="youtube1" class="col-md-4" ></div>
      <div id="youtube2" class="col-md-4" ></div>
      <div id="youtube3" class="col-md-4" ></div>
      <div id="youtube4" class="col-md-4" ></div>
      <div id="youtube5" class="col-md-4" ></div>
      <div id="youtube6" class="col-md-4" ></div>
    </div>
  </div>

  <!-- Spotify search results -->
  <div class="container">
    <div class="row" id="youtube">
      <h2>Spotify Results</h2>
      <div id="spotify1" class="col-md-4" ></div>
      <div id="spotify2" class="col-md-4" ></div>
      <div id="spotify3" class="col-md-4" ></div>
      <div id="spotify4" class="col-md-4" ></div>
      <div id="spotify5" class="col-md-4" ></div>
      <div id="spotify6" class="col-md-4" ></div>
    </div>
  </div>

  <!-- SoundCloud search results -->
  <!-- <div class="container">
    <div class="row">
      <h2>SoundCloud Results</h2>
      <div id="soundcloud1"></div>
      <div id="soundcloud2"></div>
      <div id="soundcloud3"></div>
      <div id="soundcloud4"></div>
      <div id="soundcloud5"></div>
      <div id="soundcloud6"></div>
    </div>
  </div> -->

  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  <script type="text/javascript" src="js/youtube.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
  <script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
  <script>
  $(function() {
    $.material.init();
  });   
  </script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
  <script>
    $('body').bootstrapMaterialDesign();
  </script>
</body>
</html>